<!DOCTYPE html>
<html>
<head>
<title>Memes Event Registration</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<img src="{{ url_for('static', filename='hillario.jpeg') }}" class="logo">

<h2 class="bold">
Nandha Arts and Science College (Autonomous)
</h2>

<h3 class="bold">
Department of Information Technology
</h3>

<h1 class="event-title">
Memes Event Registration
</h1>

<form method="POST" action="/register">

<label>Full Name *</label>
<input type="text" name="name" required>

<label>Phone *</label>
<input type="tel" name="phone" pattern="[0-9]{10}" required>

<label>Register Number *</label>
<input type="text" name="register_number" required>

<label>Department *</label>
<input type="text" name="department" required>

<label>Year *</label>
<select name="year" required>
<option>I</option>
<option>II</option>
<option>III</option>
<option>IV</option>
</select>

<label>College *</label>
<input type="text" name="college"
value="Nandha Arts and Science College (Autonomous)" required>

<label>Event Date *</label>
<input type="date" name="event_date" required>

<button class="btn">Register</button>

</form>

<a href="/registered-students" class="link">View Registered Students</a>

</div>

</body>
</html>