<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">

<h2>Registered Students</h2>

<a href="/download" class="btn small">Download Excel</a>

<table>
<tr>
<th>Enroll</th>
<th>Name</th>
<th>Phone</th>
<th>Register No</th>
<th>Dept</th>
<th>Year</th>
<th>College</th>
<th>Date</th>
<th>Time</th>
</tr>

{% for s in students %}
<tr>
<td>{{ s.enroll }}</td>
<td>{{ s.name }}</td>
<td>{{ s.phone }}</td>
<td>{{ s.register }}</td>
<td>{{ s.department }}</td>
<td>{{ s.year }}</td>
<td>{{ s.college }}</td>
<td>{{ s.date }}</td>
<td>{{ s.time }}</td>
</tr>
{% endfor %}

</table>

<a href="/" class="btn small">Back</a>

</div>

</body>
</html>